
form .col{
  margin: 10px 0;
}

.meme-image-container{
  position: relative;
}

.meme-image{
  display: block;
  max-height: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

.meme-image-container span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-shadow: 1px 1px 2px black;
  font-size: 25px;
  font-weight: bolder;
  max-width: 450px;
}

.meme-image-container span:first-child{
  top: 10%;
  
}

.meme-image-container span:last-child{
  bottom: 10%;
}